<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <!-- Boton de rutas -->
    <button mat-button routerLink="/inicio">Inicio</button>
<!-- Menu desplegable -->
    <button mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu">
  <button mat-menu-item routerLink="/producto">General</button>
  <button mat-menu-item routerLink="/arroz">Arroz</button>
  <button mat-menu-item routerLink="/recetas">Recetas</button>
  <button mat-menu-item routerLink="/buzos">buzos</button>
</mat-menu>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  