.example-spacer {
    flex: 1 1 auto;
  }

  /* Declaramos con palabra reservada MEDIA --> DISPOSITIVOS PEQUEÑOS */
@media(min-width:300px) and (max-width:700px){
  mat-toolbar{
    background-color: crimson;
  }

  #menuInicio{
    display: none;
  }
  
  #menuProducto{
    display: none;
  }
}

/* DISPOSITIVOS MAS GRANDES */
@media (min-width:700px) {
  mat-toolbar{
    background-color: darkcyan;
  }

  #menuSecciones{
    display: none;
  }
}
