<div class="container">
    <div class="row">
    <h1>registrarse</h1>
    <i class="material-icons" style="font-size: 200px;">person</i>
  

      <!-- email de usuario -->
    
      <mat-form-field appearance="fill">
        <mat-label>Direccion de correo electronico</mat-label>
        <input [(ngModel)]="sesion.email" matInput placeholder="Placeholder" required>
      
      </mat-form-field>
    
      <!-- Contraseña de usuario -->
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input [(ngModel)]="sesion.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
        <button class="boton" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="start">Minimo 6/{{input.value.length}}</mat-hint>
      </mat-form-field>
    
      <!-- Boton para enviar la informacion -->
      <button mat-raised-button color="primary" class="boton" (click)="iniciarSesion()">
        Registrar
      </button>
    </div>
    
    </div>
    