<div class="container">
<div class="row">
<h1>Registrar</h1>
<i class="material-icons" style="font-size: 200px;">person</i>

<!-- nombre de usuario -->
<mat-form-field appearance="fill">
    <mat-label>Ingrese su nombre de usuario</mat-label>
    <!-- ngModel = conecta de forma bidireccional como un formulario -->
    <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej:Pepe" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
   
  </mat-form-field>

<!-- apellido del usuario -->
<mat-form-field appearance="fill">
    <mat-label> Ingrese su Apellido</mat-label>
    <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej:Perez" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

  </mat-form-field>
  <!-- email de usuario -->

  <mat-form-field appearance="fill">
    <mat-label>Direccion de correo electronico</mat-label>
    <input [(ngModel)]="usuarios.email" matInput placeholder="Placeholder" required>
  
  </mat-form-field>

  <!-- Rol del usuario -->
  <mat-form-field>
    <mat-label>Seleccione un rol: </mat-label>
    <mat-select [(ngModel)]="usuarios.rol" required>
      <mat-option value="admin">Administrador</mat-option>
      <mat-option value="vis">Visitante</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Contraseña de usuario -->
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
    <button class="boton" mat-icon-button matSuffix (click)="hide=!hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-hint align="start">Minimo 6/{{input.value.length}}</mat-hint>
  </mat-form-field>

  <!-- Boton para enviar la informacion -->
  <button mat-raised-button color="primary" class="boton" (click)="registrar()">
    Registrar
  </button>
</div>

</div>
