.container{
    display: flex;
    padding: 10px;
    justify-content: center;
}

h1{
    text-align: center;
}

.contenido{
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p{
    padding: 5px;
}