<div class="row">
    <div class="col" *ngFor="let producto of coleccionProductos">
        <div class="card" style="width: 18rem;">
            <img src="{{producto.imagen}}" class="card-img-top" alt="{{producto.alt}}">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombre}}</h5>
              <p class="card-text">{{producto.precio}}</p>

              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#modalCard" (click)="mostrarVer(producto)">
            Ver mas
        </button>
            </div>
          </div>
          
    </div>
</div>